{% extends "base.html" %}
{% block lang %}fi{% endblock lang %}
{% block title %}{% if title %}{{ title }} - {% endif %}soodan blogi{% endblock title %}
{% block headline %}soodan blogi{% endblock headline %}
{% block tagline %}intohimosta oivaltamisen onneen{% endblock tagline %}
{% block navibar %}
	<li><a href="/arkisto/">arkisto</a></li>
	<li><a href="/kategoriat/">kategoriat</a></li>
	<li><a href="/mina/">minä</a></li>
	<li><a href="/rss.xml">rss</a></li>
{% endblock navibar %}
{% block sourcebox %}
Tämän dokumentin lähdekoodi elää <a href="https://github.com/sooda/blog{{ path }}">githubissa</a>, kääntäjänä <a href="https://github.com/sooda/rotulus">rotulus</a>
{% endblock sourcebox %}
{% block aboutbox %}
	Vaikutan nimimerkillä sooda ja olen matalan tason väsäämiseen suuntautunut monialainen softakehittäjä, ja tunkkaan kaikenlaista tekniikkaa kunhan löydän hardiksesta, koodista tai ihan muualta jotain sopivan arvoituksellista. Kirjoittelen joskus muistiinpanojani tähän blogiin.
{% endblock aboutbox %}
