{% extends "base.html" %}
{% import "base_macros.html" as base_macros %}
{% block lang %}fi{% endblock lang %}
{% block title %}{% if page.title %}{{ page.title }} - {% endif %}jonkinmoinen blogi{% endblock title %}
{% block headline %}jonkinmoinen blogi{% endblock headline %}
{% block tagline %}tämäkin esittää miten kieliryhmät pelaavat{% endblock tagline %}
{% block navibar %}
{{ base_macros::translation_link(language="en", description_text="en: ") }}
	<li><a href="/peruna/">ateria</a></li>
{% endblock navibar %}
