{% extends "base.html" %}
{% block lang %}en{% endblock lang %}
{% block indexlang %}eng/{% endblock indexlang %}
{% block title %}{% if page.title %}{{ page.title }} - {% endif %}a blog{% endblock title %}
{% block headline %}a blog{% endblock headline %}
{% block tagline %}this text is demo for language groups{% endblock tagline %}
{% block navibar %}
{% if meta.original %}<li>fi: <a href="{{ meta.original }}">{{ site.pages_by_url[meta.original].title }}</a></li>{% endif %}
	<li><a href="/potato/">meal</a></li>
{% endblock navibar %}

{# the language would be "backwards" because it's the orig that points to this page as a link called "en":
{% if refs.translations.en %}<li>fi: <a href="{{ refs.translations.en.url }}">{{ refs.translations.en.title}}</a></li>{% endif %}
#}
