<!DOCTYPE html>
<html lang="{% block lang %}{% endblock lang %}">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="alternate" type="application/rss+xml" href="/rss.xml">
{%- if page.meta.translation_key is defined %}
	{%- for p in site.groups["translation_key"].pages
	    | filter(attribute="meta.translation_key", value=page.meta.translation_key)
		| sort(attribute="meta.language") %}
	<link rel="alternate" hreflang="{{ p.meta.language }}" href="{{ site.base_url }}{{p.url}}" />
{%- endfor %}
{%- endif %}
</head>
<body>
	<header>
		<h1><a href="/{% block indexlang %}{% endblock indexlang %}">{% block headline %}{% endblock headline %}</a></h1>
		<p>{% block tagline %}{% endblock tagline %}</p>
	</header>
	<ul id="navibar">
		{% block navibar %}{% endblock navibar %}
	</ul>
	<div id="content">
		{% block content %}{% endblock content %}
	</div>
	<footer>
		<p>src in local "github": <a href="file://{{ site.directory }}{{ page.path }}">git</a></p>
	</footer>
</body>
</html>
