{% extends "base.html" %}
{% block lang %}fi{% endblock lang %}
{% block title %}{% if page.title %}{{ page.title }} - {% endif %}jonkinmoinen blogi{% endblock title %}
{% block headline %}jonkinmoinen blogi{% endblock headline %}
{% block tagline %}tämäkin esittää miten kieliryhmät pelaavat{% endblock tagline %}
{% block navibar %}
{% if meta.translations.en %}<li>en: <a href="{{ meta.translations.en }}">{{ site.pages_by_url[meta.translations.en].title }}</a></li>{% endif %}
	<li><a href="/peruna/">ateria</a></li>
{% endblock navibar %}
