{% extends "base.html" %}
{% import "base_macros.html" as base_macros %}
{% block lang %}en{% endblock lang %}
{% block indexlang %}eng/{% endblock indexlang %}
{% block title %}{% if page.title %}{{ page.title }} - {% endif %}a blog{% endblock title %}
{% block headline %}a blog{% endblock headline %}
{% block tagline %}this text is demo for language groups{% endblock tagline %}
{% block navibar %}
{{ base_macros::translation_link(language="fi", description_text="fi: ") }}
{% if page.meta.translation_key is defined %}
	<li>(all page languages: {{ site.groups["translation_key"].pages
	   | filter(attribute="meta.translation_key", value=page.meta.translation_key)
	   | map(attribute="meta.language") | join(sep=", ") }})</li>
{% endif %}
	<li><a href="/potato/">meal</a></li>
{% endblock navibar %}
