{% extends "base-fi.html" %}
{% block content %}
	<p>kaikki liittyy: {% if meta.category is defined -%}
	{%- for c in meta.category -%}
		{%- if not loop.first %}, {% endif %}<a href="/kategoria/{{ c }}/">{{ c }}</a>

		{%- set cat_names = site.groups["category_name"].pages
		    | filter(attribute="meta.language", value="fi")
			| map(attribute="meta.category_name") -%}
		{%- if not cat_names is containing(c) -%}
		{{ throw(message="category `" ~ c ~ "' appears to be missing its page") }}
		{%- endif -%}
	{%- endfor -%}
	{%- else %}paitsi että ei{% endif %}</p>

	{{ content | safe }}

	<p>Tämä on blogiartsu. Kaikki vastaavat tässä:</p>
	<ul>
		<ul>{% for p in site.groups["blog"].pages | filter(attribute="meta.language", value="fi") %}
			<li><a href="{{ p.url }}/">{{ p.title }}</a></li>{% endfor %}
		</ul>
	</ul>
{% endblock content %}
