{% extends "base-fi.html" %}
{% block content %}
	<p>kaikki liittyy: {% if meta.category is defined -%}
	<a href="/kategoria/{{ meta.category | first }}/">{{ meta.category | first }}</a>
	{%- for c in meta.category | slice(start=1) -%}
	, <a href="/kategoria/{{ c }}/">{{ c }}</a>
	{% endfor %}
	{% else %}paitsi että ei{% endif %}</p>

	{{ content | safe }}

	<p>Tämä on blogiartsu. Kaikki vastaavat tässä:</p>
	<ul>
		<ul>{% for p in site.groups["blog"].pages | filter(attribute="meta.language", value="fi") %}
			<li><a href="{{ p.url }}/">{{ p.title }}</a></li>{% endfor %}
		</ul>
	</ul>
{% endblock content %}
