{% extends "base-en.html" %}
{% block content %}
	<p>filed under: {% if meta.category is defined -%}
	{%- for c in meta.category -%}
		{%- if not loop.first %}, {% endif %}<a href="/category/{{ c }}/">{{ c }}</a>

		{%- set cat_names = site.groups["category_name"].pages
		    | filter(attribute="meta.language", value="en")
			| map(attribute="meta.category_name") -%}
		{%- if not cat_names is containing(c) -%}
		{{ throw(message="category `" ~ c ~ "' appears to be missing its page") }}
		{%- endif -%}
	{%- endfor -%}
	{%- else %}no categories, how unique{% endif %}</p>

	{{ content | safe }}

	<p>This is a blog entry from {{ page.meta.created_at | default(value="sometime") }}. All of them here:</p>
	{# the default logic above and in the listing are not very useful because
	the sort would explode if any page wouldn't have the meta.created_at
	attribute... #}
	{% set blog_entries = site.groups["blog"].pages
		| filter(attribute="meta.language", value="en")
		| sort(attribute="title")
		| sort(attribute="meta.created_at") %}
	<ul>
		<ul>{% for p in blog_entries %}
			<li><a href="{{ p.url }}/">{{ p.title }}</a> ({{ p.meta.created_at | default(value="fix date!") }})</li>{% endfor %}
		</ul>
	</ul>

	<p>entry before the current one: {% set prev_page = blog_entries
	   | before_attr(attribute="url", value=page.url) %}
	   {%- if prev_page %}<a href="{{ prev_page.url }}">{{ prev_page.title }}</a>
	{%- else %}(this is the first one)
	{%- endif %}</p>

	<p>entry after the current one: {% set next_page = blog_entries
	   | after_attr(attribute="url", value=page.url) %}
	{%- if next_page %}<a href="{{ next_page.url }}">{{ next_page.title }}</a>
	{%- else %}(this is the last one)
	{%- endif %}</p>
{% endblock content %}
