{% extends "base-en.html" %}
{% import "blog_macros.html" as blog_macros %}
{% block content %}
	<p>filed under: {{ blog_macros::category_listing(page=page, language="en",
	       base_url="/category/", none_description="no categories, how unique") }}</p>
	<p>It's a bit unfortunate that this sort of metadata cannot easily be rendered under the document heading without falling to the bottom of the page after all content. Not being able to massage the content itself is more pure, but the page title is kind of special. What to do?</p>

	{{ content | safe }}

	<p>This is a blog entry from {{ page.meta.created_at | default(value="sometime") }}. All of them here:</p>
	{# the default logic above and in the listing are not very useful because
	the sort would explode if any page wouldn't have the meta.created_at
	attribute... #}
	{% set blog_entries = site.groups["blog"].pages
		| filter(attribute="meta.language", value="en")
		| sort(attribute="title")
		| sort(attribute="meta.created_at") %}
	<ul>
		<ul>{% for p in blog_entries %}
			<li><a href="{{ p.url }}">{{ p.title }}</a> ({{ p.meta.created_at | default(value="fix date!") }})</li>{% endfor %}
		</ul>
	</ul>

	<p>entry before the current one: {% set prev_page = blog_entries
	   | take_until_attr(attribute="url", value=page.url)
	   | last %}
	   {%- if prev_page %}<a href="{{ prev_page.url }}">{{ prev_page.title }}</a>
	{%- else %}(this is the first one)
	{%- endif %}</p>

	<p>entry after the current one: {% set next_page = blog_entries
	   | reverse
	   | take_until_attr(attribute="url", value=page.url)
	   | last %}
	{%- if next_page %}<a href="{{ next_page.url }}">{{ next_page.title }}</a>
	{%- else %}(this is the last one)
	{%- endif %}</p>
{% endblock content %}
