{% extends "base-fi.html" %}
{% import "blog_macros.html" as blog_macros %}
{% block content %}
	<p>kaikki liittyy: {{ blog_macros::category_listing(page=page, language="fi",
	       base_url="/kategoria/", none_description="paitsi että ei") }}</p>

	{{ content | safe }}

	<p>Tämä on blogiartsu. Kaikki vastaavat tässä:</p>
	<ul>
	{%- for p in site.groups["blog"].pages | filter(attribute="meta.language", value="fi") %}
		<li><a href="{{ p.url }}">{{ p.title }}</a></li>
	{%- endfor %}
	</ul>
{% endblock content %}
