<h2><a href="{{ page.url }}">{{ page.title }}</a>{% if page.meta.draft %} [DRAFT]{% endif %}</h2>

<p><a href="/{{ page.meta.date.year }}/">{{ page.meta.date.year }}</a>--<a href="/{{ page.meta.date.year }}/{{ page.meta.date.month }}/">{{ page.meta.date.month }}</a>-<a href="/{{ page.meta.date.year }}/{{ page.meta.date.month }}/{{ page.meta.date.day }}/">{{ page.meta.date.day }}</a></p>

XXX: perhaps remove the meta object? so much typing.

XXX. category title vs url :( want nice titles, not just urls. got one category-name.html page per category tho. rotulus.by_url(category.name).title or what?

{% if page.category %}<p>Under categories
	{% for c in page.category %}
		{% if index > 1 %}, {% endif}<a href="/category/{{ c }}">{{ c }}</a>
	{% endfor %}
</p>{% endif %}
{{ page.content_preview }}
