<h2><a href="{{ page.url }}">{{ page.title }}</a>{% if page.meta.draft %} [DRAFT]{% endif %}</h2>

<p><a href="/{{ page.date.year }}/">{{ page.date.year }}</a>--<a href="/{{ page.date.year }}/{{ page.date.month }}/">{{ page.date.month }}</a>-<a href="/{{ page.date.year }}/{{ page.date.month }}/{{ page.date.day }}/">{{ page.date.day }}</a></p>

{% if page.kategoria %}<p>Kategorioissa
	{% for c in page.kategoria %}
		{% if index > 1 %}, {% endif}<a href="/kategoria/{{ c }}">{{ c }}</a>
	{% endfor %}
</p>{% endif %}
{{ page.content_preview }}
