<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<atom:link href="http://sooda.fi/rss.xml" rel="self" type="application/rss+xml" />
		<title>soodan blogi</title>
		<link>http://sooda.dy.fi</link>
		<description>soodan blogi keskittyy soodan softa- ja rautavirityksiin ja yleiseen tekniseen säätöön.</description>
		<language>fi</language>
		{% for page in groups.blog %}
		<item>
			<title>{{ page.title }}</title>
			<link>http://sooda.fi{{ page.url }}</link>
			<guid>http://sooda.fi{{ page.url }}</guid>
			<description>{{ page.content_preview }}</description>
			<pubDate>{{ article.date }} XXX format?</pubDate>
		</item>
		{% endfor %}
	</channel>
</rss>
